@import "variables";

//
// Basic buttons
//
.btn {
    &.btn-primary, &.btn-primary.dropdown-toggle {
        background-color: $primary;
        border-color: darken($primary, 1%);

        &:hover {
            background-color: darken($primary, 8%);
            border-color: darken($primary, 8%);
        }
    }

    &.btn-link {
        color: $primary;

        &:hover {
            color: darken($primary, 8%);;
        }
    }

    &.btn-labeled {
        i {
            padding-right: .5rem;
            border-right: solid 1px rgba(255,255,255,0.3);
            margin-right: .5rem;
        }
    }

    &.btn-icon {
        width: 32px;
    }
}

//
// Action buttons in lists and tables
//
.actions {
    a {
        display: inline-block;
        width: 28px;
        height: 28px;
        text-align: center;
        line-height: 28px;
        border-radius: .25rem;
        transition: all ease-in-out .2s;

        i {
            color: $primary;
            transition: color ease-out .2s;
        }

        &.remove {
            i {
                color: #dc3545;
            }

            &:hover, &:focus {
                background: #dc3545;
            }
        }

        &:hover, &:focus {
            background: $primary;
            outline: none;
            box-shadow: 0 2px 1px rgba(0,0,0,.3);

            i {
                color: $gray-400;
            }
        }
    }
}