@import "variables";

.body {
    .breadcrumb {
        background: transparent;
        padding: 1.35rem 1rem .5rem; // New
        font-size: .8rem;
        font-weight: bold;
        text-transform: uppercase;

        .breadcrumb-item {
            color: $primary;

            &.active {
                color: $gray-600;
            }
        }
    }

    pre {
        background: $gray-300;
        padding: .5rem;
        margin: 0 -.5rem 1rem;
    }
}